/* PricingCards.module.css */

/* Pricing cards container */
.pricing-cards-container {
  display: flex;
  justify-content: space-around;
}

/* Individual pricing card styles */
.pricing-card {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Pricing title */
.pricing-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}



.older-pricing-text {
  font-weight: bold;
}

/* Pricing price */
.pricing-price {
  font-size: 36px;
  margin-bottom: 15px;
}

/* Horizontal line */
.horizontal-line {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Section heading */
.section-heading {
  font-size: 18px;
}

/* Feature list */
.feature-list {
  text-align: left;
}

/* Feature item */
.feature-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* Feature icon */
.feature-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Explore features heading */
.explore-features {
  font-weight: bold;
}

/* Add this style to your CSS module */
.pricing-price-crossed {
  color: red;
  text-decoration: line-through;
}

/* PricingCards.module.css */

/* Horizontal pricing card container */
.pricing-card-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  width: 40%;
}

/* Left side styles */
.left-side {
  flex: 1;
  text-align: left;
}

/* Top Button */
.pricing-button {
  background-color: #ff5733;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Bold pricing title */
.pricing-title-bold {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

/* Big Get Started button */
.big-button {
  background-color: #33ff57;
  color: #fff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

/* Right side styles */
.right-side {
  flex: 1;
  text-align: right;
}

/* Span text */
.span-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Feature list */
.feature-list {
  text-align: right;
}

/* Feature item */
.feature-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

/* Feature icon */
.feature-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Button Styles */
/* Orange Button */
.orange-button {
  background-color: orange;
  color: #fff;
}

/* Red Button */
.red-button {
  background-color: red;
  color: #fff;
}

/* Purple Button */
.purple-button {
  background-color: purple;
  color: #fff;
}



